<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>211531673064-qm5trmmait4afd0mnaqbt4jvc2q01rji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211531673064-qm5trmmait4afd0mnaqbt4jvc2q01rji</string>
	<key>API_KEY</key>
	<string>AIzaSyCYhHlQjcTWGrzs8n3SEYs65wCuk3xQKVk</string>
	<key>GCM_SENDER_ID</key>
	<string>211531673064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sreeram.Chattest1</string>
	<key>PROJECT_ID</key>
	<string>chatapptest1-a270c</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptest1-a270c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211531673064:ios:8e19e264aff2223d41885d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapptest1-a270c.firebaseio.com</string>
</dict>
</plist>